@media (max-width: 480px) {
  /* main */

  main.main {
    padding-top: 69px;
  }

  /* index - welcome */
  .welcome-header__title {
    font-size: 24px;
    margin-bottom: 4px;
  }

  .welcome-header__text {
    color: var(--gray);
    font-size: 14px;
  }

  .form-login__id,
  .form-login__pw {
    padding: 16px;
    font-size: 14px;
  }

  .find-join-wrap a {
    font-size: 14px;
  }
  /* Chats */
  .chats-header-name {
    font-size: 14px;
  }
  .chats-main__date-time span {
    font-size: 14px;
  }

  .chats-main .user-name {
    font-size: 12px;
  }

  /* Page Header */

  .page-header__title {
    font-size: 20px;
  }

  .page-header__icons {
    font-size: 14px;
  }

  /* user-profile-component */
  .user-profile-component__column:first-child {
    margin-right: 16px;
  }

  .profile-img-wrap {
    width: 40px;
    height: 40px;
  }

  .user-name {
    margin-bottom: 2px;
  }

  .status-message {
    border-radius: 20px;
    border-top-left-radius: 0;
    font-size: 12px;
  }

  .status-message p {
    word-break: break-all;
  }

  .chat-status {
    margin-left: auto;
  }

  .message-count {
    margin-left: auto;
  }

  .message-count .noti {
    margin: 10px 0 0 auto;
  }

  .btn--send {
    right: 1%;
  }

  .fa-smile-wink {
    right: 15%;
  }
  /* Chat List */
  .chat-list {
    padding: 20px 0;
  }

  .chat-list .user-name {
    text-indent: 0;
  }

  .chat-message {
    width: 200px;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  /* Find Screen */

  .add-friends-tab i {
    font-size: 26px;
    margin-bottom: 10px;
  }

  /* Setting Screen */
  .set-list__item__row {
    padding: 15px 0;
  }

  .icon-wrap {
    margin-right: 20px;
  }

  /* Splash */
  .splash h1 {
    font-size: 24px;
  }
  /* status bar */
  .status-bar {
    display: none;
  }

  /* Page Find */

  .add-friends-tab i {
    font-size: 26px;
    margin-bottom: 10px;
  }
}
